body { background-color: black; color: white; font-family: monospace; }
.card-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 1em; }
.card { background: #111; padding: 10px; border: 1px dashed #444; text-align: center; }
img { width: 100%; border: 4px solid white; }